/* General Reset and Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.1rem;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 20px 40px;
}

.site-title {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.logo {
    width: 50px;
}

.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
}

.follow-me {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: -1rem;
    writing-mode: vertical-rl;
}

.icons a {
    display: block;
    margin-bottom: 15px;
}

.icons img {
    margin-left: -1rem;
    width: 27px;
    height: 27px;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.2);
}

/* Main Content Styles */
.container {
    display: flex;
    margin-left: 200px;
    padding: 40px;
}

.main {
    width: 100%;
}

.profile-section {
    text-align: right;
}

.profile-photo {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.text-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #444;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.music-works,
.project-works {
    display: flex;
    gap: 30px;
}

.video-wrapper,
.project-wrapper {
    width: 48%;
}


.video-wrapper iframe
.project-wrapper img {
    width: 80%;  /* Scales down the images */
    margin-left: 10px; /* Moves images a little to the left */
    border-radius: 10px;
}

.project-image-1,
.project-image-2 {
    width: 80%;  /* Scales down the images */
    margin-left: 10px; /* Moves images a little to the left */
    border-radius: 10px;
}

.video-description,
.project-description {
    text-align: left;
    margin-top: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #282828;
    color: #fff;
    padding: 20px;
}

.contact a {
    color: #61dafb;
}

.contact a:hover {
    text-decoration: underline;
}



